<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>Bienvenido a tu aplicacion Seguimiento de Tareas</h1>
    <form action="/add" method="post">
        <div class="">
            <div class="ui label">
                <label for="titulo">Titulo de la nota:</label>
            </div>
            <div class="ui input">
                <input type="text" name="titulo" placeholder="Escriba aqui el contenido de su nota">
            </div>
            <br>
            <hr>
            <button type="submit" class="ui primary button">Agregar tarea</button>
        </div>
    </form>
    <!---Using Jinja Templating for variables from backend -->
    <div class="ui list">
        {% for todo in lista_tareas %}
        <div class="item">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header">
                            {{todo.titulo}}
                        </div>
                        <!-- <div class="meta">
                  Friends of Veronika
                </div> -->
                        {% if todo.completada == false %}
                        <div class="description">
                            Tarea no completada
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <a href="update/{{todo.id}}">
                                <div class="ui basic green button" >Completada</div>
                            </a>
                             <a href="delete/{{todo.id}}">
                                 <div class="ui basic red button">Eliminar</div>
                             </a>
                         </div>
                    </div>
                    {% else %}
                    <div class="description">
                        Tarea completada
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                       <a href="update/{{todo.id}}">
                           <div class="ui basic green button" > Aun me falta </div>
                       </a>
                        <a href="delete/{{todo.id}}">
                            <div class="ui basic red button">Eliminar</div>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <!-- {% for todo in lista_tareas %}
        <div class="item">
            <div class="content">
                <p class="header"> {{todo.titulo}} </p>
                {% if todo.completada == false %}
                <div style=" display:inline-block; margin:0;">
                    <div class="description"> Esta tarea no ha sido completada </div>
                    <button class="ui green button" href="update/{{todo.id}}">Marcar completada</button>
                </div>
                {% else %}
                <div class="description">Tarea completada</div>
                <a href="update/{{todo.id}}">Marcar no completada</a>
                {% endif %}
            </div>
            <a href="delete/{{todo.id}}">Delete</a>

            {% endfor %} -->
    </div>
</body>

</html>